<ul>
  <% @flights.each do |flight| %>
    <li id='flights-<%= flight.id %>'><%= flight.number %> - <%= flight.airline.name %><br>
      <ul>
      <% flight.passengers.each do |passenger| %>
        <li id='<%= flight.id %>-passengers-<%= passenger.id %>'><%= passenger.name %> - <%= link_to "Remove #{passenger.name}", flight_passenger_path(flight.flight_passenger(passenger.id)), method: :delete %></li>
      <% end %>
    </ul>
    </li>
  <% end %>
</ul>
